/* reset */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* UTility */

.flex {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007ee5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* COMMON */

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    min-height: 400px;

    /* Debug */

    border: 1px solid red;

}

.hero-container {
   
width: 100%;

background-color: #8ac3ef;
position: relative;
    

    /* Debug */

    border: 1px solid red;
}

.container-small {
    width: 60%;
    margin: 0 auto;



    /* debug */
    min-height: 100px;

    border: 1px solid green;
}

/* NAV_LIST */

.nav-list {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.nav-list li {
   display: inline;
   
}


.nav-title {
    font-weight: bold;
    font-size: x-large;
    margin-left: 5%;
}



/* HEADER */


/* header-menu */
.header-top {
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
    align-items: center;
    

    /* debug */
    border: 1px solid blue;

}


.header-menu {
    width: 45%;
    height: 100%;
   
    
    
    


    /* debug */
    border: 1px solid yellowgreen;

}

/* HEADER_BOT */

.header-bot {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    padding-top: 30px;
   
}


.hero-title {
    text-align: center;
    font-size: xx-large;

    /* debug */
    border: 1px solid black;
    min-height: 100px;
    width: 100%;
   


}

.hero-text {
    width: 40%;
    padding: 20px;
}


.hero-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.hero-image {
    width: 55%;
    position: relative;
    top: 5em;
   
}

.hero-img {
    width: 100%;
    height: 80%;
    
    
    
}








/* Main */

.billing-options {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 300px; 
    margin: 20px 0;
}

.option {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}




.option:hover {
    border-color: #007ee5;
}


.option:active {
    background-color: #007ee5;
}




/* ABBONAMENTI */

.subscription-card {


    /* debug */
    border: 1px solid red;
    width: 30%;
    min-height: 400px;

}

.subscriptions-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    
}

.subscriptions {
    display: flex;
    justify-content: space-between;
    
}





/* <!-- BUSNESS-Section --> */

.business-card {
    width: calc(94%/3);
    /* debug */

    border: 1px solid red;
    min-height: 200px;
}

.business {
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title {
    text-align: center;
}

.card-title h3{
    font-size: medium;
    
    
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-body span p {
    font-size: 0.7em;
    margin: 0 1em ;
}

.card-body h4 {
    margin: 0 1em;
}
.card-body .btn {
    
}
.buy-now {
    color: red;
}
.hr-1 {
    width: 50%;
    position: relative;
    right: 25%;
    
}

/* FOOTER */

footer {
    background-color: black;
}

.container-footer {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    min-height: 300px;
    justify-content: space-between;
   

    /* Debug */

    border: 1px solid red;

}

.card-footer {
    width: calc(90%/5);

    /* debug */

    border: 1px solid blue;
}